[Desktop Entry]
Type=Application
Name=wxMaxima
Comment=Cálculo simbólico con Maxima (Homebrew ARM64)
Exec=/home/droidian/.local/bin/wxmaxima %f
TryExec=/home/linuxbrew/.linuxbrew/opt/wxmaxima/bin/wxmaxima
Icon=io.github.wxmaxima_developers.wxMaxima
Terminal=false
Categories=Education;Science;Math;
MimeType=text/x-wxmaxima-batch;text/x-wxmathml;text/x-maximasession;text/x-maxima-out;
StartupWMClass=wxmaxima
